@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url("../assets/bg-image.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  font-family: "Varela", sans-serif;
}

h3 {
  font-size: 1.8em;
  margin-top: 0;
  background: #79ace6;
  text-align: center;
  border-radius: 0.2em;
  border: 0.2em solid #478bd8;
  box-shadow: 0 0.125em 0.5em 0 #000000;
  width: 10em;
  padding: 0.2em;
  margin: 0 auto;
  margin-top: 0.7em;
  margin-bottom: 1em;
}

.done {
  text-decoration: line-through;
}

form {
  padding-bottom: 1em;
}

label {
  font-size: 1.3em;
  text-align: left;
}

input {
  background: rgb(102, 96, 96);
  font-size: 1em;
}

span {
  padding-right: 2em;
}

input:hover,
input:focus {
  background: #fff;
}

/*buttons*/
aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  display: inline-block;
  padding: 0.3em 0.3em;
  margin-left: 0.2em;
  text-align: center;
  width: 13%;
  transition: all 0.2s;
  border: 0.1em solid black;
  border-radius: 0.4em;
  font-size: .8em;
  font-family: "Varela", sans-serif;
}

button:hover,
button:focus {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: rgb(21, 177, 112);;
}

.button-remove:hover,
.button-remove:focus {
  background: #DB4E35;
}

ul {
  padding: 0;
  list-style: circle;
}

li {
  font-size: 0.7em;
  font-weight: bold;
  width: auto;
  background: none;
  border: none;
  margin: 0 auto;
  position: relative;
  line-height: 4em;
  margin-bottom: 0;
}

li,
.preview {
  display: block;
  text-align: center;
}

li button {
  font-size: 0.8;
  font-weight: bold;
  color: #000;
}

li span {
  padding-left: 1em;
  font-size: 1.3em;
}

.todo {
  width: 70%;
  height: 4.5em;
  background-color: #5a98e0b0;
  backdrop-filter: blur(4px);
  border-radius: 5px;
  margin-bottom: 1.3em;
  transition: border-color .15s ease-in-out;
}

a {
  font-size: 1.6em;
  color: rgb(196, 62, 10);
  position: absolute;
  right: 14px;
}

a:hover,
a:focus {
  cursor: pointer;
}

.preview {
  color: rgb(18, 106, 156);
  margin-top: 1.3em;
  opacity: 0.7;
  font-size: 1.2em;
}

.add-new {
  max-width: 320px;
  /* margin: 0 auto 3em; */
  margin: 3em auto 3em;
}

.add-new input {
  font-size: 14px;
  color: rgb(20, 20, 20);
  background: none;
  border: none;
  border-bottom: 2px solid rgb(6, 65, 42);
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0.5em;
}

.add-new input:focus {
  outline: none;
}

.add-new input:first-child {
  font-weight: bold;
}

.add-new input:last-child {
  font-size: 20px;
  color: #1d505f;
  text-shadow: 1px 1px 2px rgb(170, 165, 165);
  width: 100%;
}

/* Animations */
.todo-enter-active,
.todo-leave-active {
  transition: all 0.2s;
}

.todo-enter-from,
.todo-leave-to {
  opacity: 0;
  transform: scale(0.75);
}

/* Checkbox */
.visually-hiden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.control {
  display: inline-flex;
  align-items: center;
}

.control-indicator {
  padding: 0;
  width: 22px;
  height: 22px;
  background-color: rgb(243, 236, 236);
  border-radius: 2px;
  border: 1px solid rgb(158, 155, 155);
  cursor: pointer;
  position: absolute;
  top: 14px;
  left: 12px;
}

.control-input:checked ~ .control-indicator {
  background-color: rgb(21, 177, 112);
  background-image: url("../assets/done.svg");
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
}

/* List Item Priority */
.prio {
  display: inline-block;
  color: black;
  font-size: 12px;
  font-weight: bold;
  width: 2.35em;
  background: none;
  border: none;
  padding: 3px;
  position: absolute;
  right: -40px;
  top: 15px;
}

.imp {
  border: 2px solid rgb(197, 59, 59);
  background-color: #2479dab0;
  text-decoration: underline;
}

.less_imp {
  border: 1px solid green;
}
